
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 6px;
  border: 2px solid transparent;
  background-clip: content-box;
}

* {
  font-family: Product Sans, Arial;
  margin: 0;
  padding: 0;
  color: black;
  box-sizing: border-box;
}

body {
  background-color: #ECECEC;
  /* height: 9000px; */
}
