* {
  font-family: Product Sans, Arial;
  margin: 0;
  padding: 0;
  color: black;
  box-sizing: border-box;
}

body {
  background-color: #ECECEC;
  /* height: 9000px; */
}

#test-photo{
  height: 400px;
  width: 400px;
  object-fit: cover;
  cursor: pointer;
  margin: 30px auto;
  display: block;
  border-radius: 5px;
}

#test-photo2{
  height: 400px;
  width: 600px;
  object-fit: cover;
  cursor: pointer;
  margin: 30px auto;
  display: block;
  border-radius: 5px;
}

#test-photo:hover {
  box-shadow: 0px 10px 20px rgba(95, 95, 95, 0.2);
}
