---
import { Banner } from "../components/react/Banner";
import LoadFonts from "../components/astro/load-fonts.astro";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Aryan Deora | Home</title>
		<!-- HTML Meta Tags -->
		<meta name="description" content="Web tinkerer with a passion for open source">

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://aryandeora.com">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Aryan Deora">
		<meta property="og:description" content="Software and UI Engineer">
		<meta property="og:image" content="https://aryandeora.com/og-home.jpg">

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="aryandeora.com">
		<meta property="twitter:url" content="https://aryandeora.com">
		<meta name="twitter:title" content="Aryan Deora">
		<meta name="twitter:description" content="Software and UI Engineer">
		<meta name="twitter:image" content="https://aryandeora.com/og-home.jpg">
		<LoadFonts />
		<script defer data-domain="aryandeora.com" src="https://plausible.io/js/script.js"></script>
	</head>
	<body class="bg-light-50">
		<Banner client:only="react" />
		<h1 class="sr-only">Aryan Deora</h1>
		<h2 class="sr-only">Software and UI Engineer</h2>
		<div class="uppercase lg:text-lg font-medium text-zinc-600 lg:text-center px-6">Projects</div>

		<div class="flex gap-4 py-3 lg:max-w-4xl lg:px-6 lg:mx-auto">
			<div class="flex-1 flex flex-col gap-4">
				<div class="border pb-2 bg-white rounded-md overflow-hidden flex flex-col gap-2">
					<div class="relative aspect-square bg-red-500"></div>
					<div class="px-2 pt-2 text-2xl font-editorial tracking-wide hover:underline">TanStack Solid Query</div>
					<div class="px-2 leading-tight text-gray-700">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt animi voluptatem inventore maxime voluptates! Asperiores totam voluptatum non quia, ducimus vero quaerat hic modi quas iste voluptatem quae veniam debitis!</div>
				</div>
				<div class="border bg-white h-56 rounded-md">
					
				</div>
			</div>

			<div class="flex-1 flex flex-col gap-4">
				<div class="border bg-white h-56 rounded-md">
					
				</div>
				<div class="border bg-white h-96 rounded-md">
					
				</div>
				
			</div>

			<div class="flex-1 flex flex-col gap-4">
				<div class="border bg-white h-96 rounded-md">
					
				</div>
				<div class="border bg-white h-56 rounded-md">
					
				</div>
			</div>

		</div>

	</body>
</html>
