---
import { Banner } from "../components/react/Banner";
import LoadFonts from "../components/astro/load-fonts.astro";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Aryan Deora | Home</title>
		<!-- HTML Meta Tags -->
		<meta name="description" content="Web tinkerer with a passion for open source">

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://aryandeora.com">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Aryan Deora">
		<meta property="og:description" content="Software and UI Engineer">
		<meta property="og:image" content="https://aryandeora.com/og-home.jpg">

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="aryandeora.com">
		<meta property="twitter:url" content="https://aryandeora.com">
		<meta name="twitter:title" content="Aryan Deora">
		<meta name="twitter:description" content="Software and UI Engineer">
		<meta name="twitter:image" content="https://aryandeora.com/og-home.jpg">
		<LoadFonts />
		<!-- <script defer data-domain="aryandeora.com" src="https://plausible.io/js/script.js"></script> -->
	</head>
	<body class="bg-woodsmoke-950">
		<h1 class="sr-only">Aryan Deora</h1>
		<h2 class="sr-only">Software and UI Engineer</h2>


	</body>
</html>
