:root {
  --accent-color: #6BACF8;
  --accent-dark: #6BACF8;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #6BACF8
  border-radius: 6px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent-dark);
  border-radius: 6px;
  border: 2px solid transparent;
  background-clip: content-box;
}

* {
  font-family: Product Sans, Arial;
  margin: 0;
  padding: 0;
  color: #ECECEC;
  box-sizing: border-box;
}

body {
  /* background-image: linear-gradient(to bottom right, #6BACF8, #3A7EC1); */
  background-image: url('../img/stars.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* height: 9000px; */
}

#header {
  font-size: 42px;
  font-weight: 300;
  text-align: center;
  margin-top: 20px;
}

#planet-squat {
  width: 400px;
  height: 400px;
  position: absolute;
  bottom: 0;
  right: 0;
}

h2 {
  font-weight: 500;
  font-size: 32px;
  margin-top: 5px;
}

#container {
  position: absolute;
  top: 50%;
  left: 10%;;
  transform: translate(0%,-50%);
}

#email a{
  text-decoration: none;
  font-size: 24px;
}

#email a:hover{
  color: var(--accent-color);
}

.comet {
  position: absolute;
  width: 50px;
  height: 50px;
  display: block;
  background-image: url("../img/comet.png");
  animation-iteration-count: infinite; 
  background-repeat: no-repeat;
  background-size: contain;
}

#comet1 {
  animation-name: comet1;
  animation-duration: 10s;
  animation-timing-function: linear;
}

#comet2 {
  top: -50px; left: 400px;
  animation-name: comet2;
  animation-duration: 17s;
  animation-timing-function: linear;
}

#comet3 {
  top: -50px; left: 400px;
  animation-name: comet3;
  animation-duration: 23s;
  animation-delay: 4s;
  animation-timing-function: linear;
}

@keyframes comet1 {
  from {top: -10%; left: 100vw;}
  to {top: 100vw; left: -10%;}
}

@keyframes comet2 {
  0% {top: -50px; left: 400px;}
  15%,100% {top: 400px; left: -50px;}
}

@keyframes comet3 {
  0% {top: -50px; left: calc(100vw + 300px);}
  15%,100% {top: calc(100vw + 300px); left: -50px;}
}

@media(max-width: 1000px) {
  #planet-squat {
    width: 300px;
    height: 300px;
  }

  #container {
    top: 40%;
  }
}

@media(max-width: 500px) {
  #planet-squat {
    width: 250px;
    height: 250px;
  }

  #header {
    font-size: 36px;
  }
}


@media(max-height: 500px) {
  #header {
    display: none;
  }
}

@media(max-height: 550px) {
  #planet-squat {
    width: 200px;
    height: 200px;
  }
}
