@keyframes spin-star-anti-clockwise {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes spin-star-clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin-star {
  animation: spin-star-anti-clockwise 15s linear infinite;
}

.spin-star-clockwise {
  animation: spin-star-clockwise 15s linear infinite;
}
